.index__img {
  opacity: 1;
  width: 70%;
  height: 70%;
  margin: auto;
  animation-duration: 2s;
  animation-name: aparece;
}

@keyframes aparece {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.index__text {
  font-family: $title-font;
  color: $secondary-color;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .index__img {
    width: 35%;
    height: 35%;
  }
}
