.carousel-item {
  background-image: url("./images/carrousel1.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 70vh;
}

.carousel__item--backgorund-img2 {
  background-image: url("./images/carrousel2.jpg");
}

.carousel__item--backgorund-img3 {
  background-image: url("./images/carrousel3.jpg");
}
