.main-content__contact--width {
  width: 90%;
  margin-top: 20px;
  margin: auto;
}

.input {
  width: 90%;
  font-family: "Raleway", sans-serif;
  color: #f898cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: auto;
  padding: 3%;
  font-size: 0.9rem;

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
  }
  .input-text {
    font-family: "Raleway", sans-serif;
    padding: 1.2%;
    border-radius: 0.25rem;
    background-color: transparentize($color: white, $amount: 0.3);
  }
}

@media only screen and (min-width: 992px) {
  .main-content__contact--width {
    width: 60%;
    margin: auto;
  }
}
